@model IEnumerable<Arbeidsbok.Models.User>

@using (Html.BeginForm()) {
    @Html.TextBox("Username")
    @Html.Password("Password")    
    <button type="submit">Save</button>
}
<ul>
@foreach (var user in Model)
{
   <li>@user.Username</li> 
}
</ul>